<plugin id="com.abdulsalam.startapp" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0">

    <name>StartAppPlugin</name>

    <js-module src="www/startapp.js" name="StartApp">
        <clobbers target="StartApp" />
    </js-module>

    <platform name="android">
        <source-file src="src/android/StartAppPlugin.java"
            target-dir="src/com/abdulsalam/startapp" />
    </platform>

</plugin>